header{
 /* background: no-repeat url("Brana.jpg");
  background-size: cover;*/
  font-family: 'Felipa', cursive; 
}

.container {
  padding: 15px;
  font-family: 'Felipa', cursive; 
}
div.collapse {
  text-align: center;
   background-color: rgba(133, 184, 196, 0.41);
   border-radius: 1rem;   
}
.navbar-brand {
  text-decoration: none;
  font-weight: bold;
  font-size: 35px;
  text-align: left;
  padding: 15px;
  text-align: left;
}

.nav-item, li a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  list-style: none;
  padding: 10px; 
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .main {
  padding-top: 6px;
}*/