// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .main{
  margin:0;
  height: 100vh;
 }

.notelist-1 {  
  display: grid;
  grid-template-columns:250px auto;
  grid-template-rows: auto;
  grid-gap: 15px 10px;
  height: auto;
  background: url("old_notepaper.jpg");
  background-size: cover;
  border-radius: 1rem 3%;
  padding: 10px 10px;
  list-style: none;
    a {
    text-decoration:none;
  }
}
p.note{
  padding:15px;
  margin: 5px;
  height: 600px;
  background-color: #c4d9b1;
  margin: 10px 10px;
  cursor: -webkit-grab;
  -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

 a#list{
   box-shadow:0px 10px 20px 4px grey;
   border-radius: 10rem 0.1%;
}

#NLem,#list, em#num{
font-family: 'Felipa', cursive;
}

#add, #fab{
  
  float: right;
  font-family: 'Italianno', cursive;
  padding: 5px;
  border-radius: 1rem 1%;
  background: #2efe94;
  font-size: 0.8rem;
}

.notelist-1 span {
  margin-top: 5px;
  padding: 3px;
}
#note-title h3 {
  display: inline-block;
  position: relative;
  padding: 0rem 11rem 0rem 2rem;
  margin-bottom: 0;
}