<div class="container">
  <a class="navbar-brand" href="#"><%= image_tag("Logo.png") %>Leaf let </a>
    <nav class="navbar">
     <div class="collapse">
        <ul class="ml">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        </ul>
      </div>
  </nav>
</div>